/* GLobal Style */
html {
	background-color: #ffffff;
  box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

body{
  min-width: 320px;
  padding: 0;
  margin: 0;
}
/* Header Style */
.header {
	z-index: 1;
	display: flex;
  position: fixed;
  top: 0;
  left: 0;
	background-color: #212121;
	height: 50px;
	width: 100vw;
	font-family: 'Roboto Mono', monospace, sans-serif;
	font-size: 12.7px;
  font-weight: 400;
	overflow: hidden;
	box-sizing: border-box;
	outline: 1px solid #424242;
}

.logo_img{
	position: relative;
	width: 180px;
	margin-left: 10vw;
	margin-top: 10px;
}


/* Navitation Bar Style */
.float-nav{
  z-index: 1;
	width: 100vw;
	right: 10vw;
	margin-left: 10vw;
	display: block;
}
.nav_list {
	position: absolute;
  width: 60vw;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.nav_list_item{
	position: relative;
	list-style: none;
  width: 9vw;
  height: 50px;
	line-height: 20px;
  text-align: center;
  outline: 1px solid #424242;
}
.nav_list_item:hover{
  background-color: #6e6e6e;
}

.icon_mockingjay{
  position: absolute;
  height: 20px;
}
.nav_span{
  margin-left: 25px;
}
.nav_list_item_link{
	display: block;
	color: #8a8174;
	text-decoration: none;
	padding: 15px 0px;
	border-bottom: none;
}
/* burger menu */
.burger{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
	display: none;
}
.icon_menu{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 0;
}
/* iPad version RWD */
@media screen and (max-width: 1024px) {
	html{
		font-size: 20px;
		max-width: 100%;
    }

    /* Header area */
    .logo{
        position: absolute;
        width: calc(100vw - 50px);
        height: 50px;
        left: 0;
        top: 0;
    }
	.logo_img{
		position: absolute;
        /* left: 30vw; */
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
	}
	.float-nav{
        z-index: 1;
		position: absolute;
		width: 100vw;
		/* height: calc(100vh - 50px); */
		height: 300px;
		top: 50px;
		left: 0;
		position: fixed;
		background-color: #212121;
		display: none;
	}
	.nav_list{
		position: absolute;
		display: block;
		width: 100vw;
		/* height: calc(100vh - 50px); */
		height: 300px;
	}
	.nav_list_item{
		/* position: absolute; */
		width: 100vw;
		height: 50px;
	}
	.burger{
		display: block;
	}
	.menu-click{
        margin: 0;
		display: block;
	}
}
@media screen and (max-width: 768px) {
    /* Header area */
    .logo{
        position: absolute;
        width: calc(100vw - 50px);
        height: 50px;
        left: 0;
        top: 0;
    }
	.logo_img{
		position: absolute;
        /* left: 30vw; */
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
	}
	.float-nav{
        z-index: 1;
		position: absolute;
		width: 100vw;
		/* height: calc(100vh - 50px); */
		height: 300px;
		top: 50px;
		right: 0;
		position: fixed;
		background-color: #212121;
		display: none;
	}
	.nav_list{
		position: absolute;
		display: block;
		width: 100vw;
		/* height: calc(100vh - 50px); */
		height: 300px;
	}
	.nav_list_item{
		/* position: absolute; */
		width: 100vw;
		height: 50px;
	}
	.menu-click{
		display: block;
	}
}
/* iPhone version RWD */
@media screen and (max-width: 480px) {
	html{
		font-size: 10px;
		max-width: 100%;
	}
	/* Header area */
	.logo{
        position: absolute;
        width: calc(100vw - 50px);
        height: 50px;
        left: 0;
        top: 0;
    }
	.logo_img{
		position: absolute;
        /* left: 30vw; */
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
	}
	.float-nav{
        z-index: 1;
		position: absolute;
		width: 100vw;
		height: calc(100vh - 50px);
		top: 50px;
		right: 0;
		position: fixed;
		background-color: #212121;
		display: none;
	}
	.nav_list{
		position: absolute;
		display: block;
		width: 100vw;
		height: calc(100vh - 50px);
	}
	.nav_list_item{
		/* position: absolute; */
		width: 100vw;
		height: 50px;
	}
	.burger{
		display: block;
	}
	.menu-click{
		display: block;
	}
	.img_arrow_down{
		width: 40px;
	}
	.img_arrow_top{
		width: 40px;
	}
	.back_to_top{
		margin-left: 48vw;
		margin-top: 45px;
	}
}

.container {
	background-color: #FFF;
}

 /* Content Style!!!!!! */
 .content_area {
    margin-top: 50px;
    width: 100vw;
 }
 .center {
    right: 0;
    left: 0;
    margin: auto;
 }
 .bg_img {
    position: absolute;
    /* margin-top: 50px; */
    width: 100vw;
    height: 950px;
    background-image: url(../src/role6.png);
    background-repeat: repeat;
    background-size: 20vw auto;
    opacity: 0.5;
}
.box_content{
    right: 0;
    left: 0;
    margin: auto;
    width: 950px;
}
.box_img_katniss_1{
    position: absolute;
    width: 400px;
    height: 550px;
    margin-top: 45px;
    margin-left: 20vw;
}
.img_katniss_1 {
    position: absolute;
    width: 340px;
    box-shadow: -2px -2px 8px 1px rgba(0, 0, 0, 0.5);
}
.box_katniss_explain{
    position: absolute;
    width: 520px;
    height: 870px;
    margin-top: 45px;
    margin-left: 415px;
}
.img_bgi_black{
    position: absolute;
    box-shadow: -2px -2px 8px 1px rgba(0, 0, 0, 0.5);
}
.explain{
    position: absolute;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    right: 0;
    left: 0;
    margin: auto;
    width: 400px;
}
.box_name{
    position: absolute;
    height: 60px;
    margin-top: 50px;
    font-size: 48px;
}
.box_quote{
    position: absolute;
    height: 85px;
    margin-top: 152px;
    font-size: 36px;
}
.box_quote_name{
    position: absolute;
    height: 20px;
    margin-top: 250px;
    font-size: 16px;
}
.box_word{
    position: absolute;
    height: 260px;
    margin-top: 360px;
    font-size: 24px;
}
.box_katniss_2{
    position: absolute;
    display: flex;
    width: 400px;
    margin-top: 500px;
    margin-left: 20vw;
}
.img_district_12{
    width: 140px;
    height: 180px;
    /* box-shadow: -2px -2px 8px 1px rgba(0, 0, 0, 0.5); */
}
.img_district_12:hover{
    opacity: 0.5;
}
.img_katniss_2{
    margin-left: 10px;
    width: 189px;
    height: 270px;
    box-shadow: -2px -2px 8px 1px rgba(0, 0, 0, 0.5);
}

/* iPad version */
@media screen and (max-width: 1024px){
  .box_content{
      right: 0;
      left: 0;
      margin: auto;
      width: 85vw;
  }
  .bg_img {
      position: absolute;
      width: 100vw;
      height: 120vh;
      background-repeat: repeat;
      background-size: 20vw auto;
  }
  .box_katniss_explain{
      position: absolute;
      width: 50vw;
      height: 60vh;
      margin-top: 5vw;
      margin-left: 35vw;
      background-image: url(../src/bg_black.png);
      background-repeat: repeat;
  }
  .img_bgi_black{
      position: absolute;
      width: 50vw;
      /* overflow: hidden; */
  }
  .explain{
      position: absolute;
      color: #fff;
      font-family: 'Barlow Condensed', sans-serif;
      text-align: center;
      right: 0;
      left: 0;
      margin: auto;
      width: 40vw;
  }
  .box_name{
      position: absolute;
      height: 60px;
      margin-top: 50px;
      font-size: 48px;
  }
  .box_quote{
      position: absolute;
      height: 85px;
      margin-top: 152px;
      font-size: 32px;
  }
  .box_quote_name{
      position: absolute;
      height: 20px;
      margin-top: 250px;
      font-size: 16px;
  }
  .box_word{
      position: absolute;
      height: 260px;
      margin-top: 350px;
      font-size: 24px;
  }
  .box_people{
      position: absolute;
      width: 30vw;
      height: 100%;
      /* right: 0;
      left: 0;
      margin: auto; */
      margin-top: 5vw;
      margin-left:10vw;
  }
  .box_katniss_1{
      position: absolute;
      width: 30vw;
      right: 0;
      left: 0;
      margin-top: 0;
      margin-left: 0;
  }
  .box_img_katniss_1{
      position: absolute;
      width: 30vw;
      margin-top: 0;
      margin-left: 0;
  }
  .img_katniss_1{
      position: absolute;
      width: 30vw;
      right: 0;
      left: 0;
      margin: auto;
  }
  .box_katniss_2{
      position: absolute;
      display: flex;
      width: 30vw;
      right: 0;
      left: 0;
      margin: auto;
      margin-top: 35vw;
      padding: 5vw 0;
      box-sizing: border-box;
      /* margin-left: 20vw; */
  }
  .img_district_12{
      width: 8vw;
      height: 10vw;
  }
  .img_katniss_2{
      margin-left: 2vw;
      width: 20vw;
      height: 30vw;
  }
}
@media screen and (max-width: 768px){
  .bg_img {
      position: absolute;
      width: 100vw;
      height: 150vh;
      background-repeat: repeat;
      background-size: 20vw auto;
  }
  .box_katniss_explain{
      position: absolute;
      width: 50vw;
      height: 80vh;
      margin-top: 5vw;
      margin-left: 35vw;
      background-image: url(../src/bg_black.png);
      background-repeat: repeat;
  }
}
/* iPhone version */
@media screen and (max-width: 480px){
  .bg_img {
      position: absolute;
      width: 100vw;
      height: 280vh;
      background-repeat: repeat;
      background-size: 20vw auto;
  }
  .box_katniss_explain{
      position: absolute;
      width: 80vw;
      height: 110vh;
      right: 0;
      left: 0;
      margin: auto;
      margin-top: 5vw;
      background-image: url(../src/bg_black.png);
      background-repeat: repeat;
  }
  
  .explain{
      position: absolute;
      color: #fff;
      font-family: 'Barlow Condensed', sans-serif;
      text-align: center;
      right: 0;
      left: 0;
      margin: auto;
      width: 70vw;
      padding: 0 5vw;
      box-sizing: border-box;
  }
  .box_name{
      position: absolute;
      height: 60px;
      margin-top: 50px;
      font-size: 45px;
  }
  .box_quote{
      position: absolute;
      height: 85px;
      margin-top: 152px;
      font-size: 32px;
  }
  .box_quote_name{
      position: absolute;
      height: 20px;
      margin-top: 250px;
      font-size: 16px;
  }
  .box_word{
      position: absolute;
      height: 260px;
      margin-top: 360px;
      font-size: 20px;
      width: 70vw;
  }
  .box_people{
      position: absolute;
      width: 80vw;
      height: 100%;
      right: 0;
      left: 0;
      margin: auto;
      margin-top: 160vw;
  }
  .box_katniss_1{
      position: absolute;
      width: 80vw;
      right: 0;
      left: 0;
  }
  .box_img_katniss_1{
      position: absolute;
      width: 80vw;
      height: 550px;
  }
  .img_katniss_1{
      position: absolute;
      width: 80vw;
      right: 0;
      left: 0;
      margin: auto;
  }
  .box_katniss_2{
      position: absolute;
      display: flex;
      width: 80vw;
      right: 0;
      left: 0;
      margin: auto;
      margin-top: 110vw;
      padding: 5vw 5vw;
      box-sizing: border-box;
      /* margin-left: 20vw; */
  }
  .img_district_12{
      width: 25vw;
      height: 32vw;
  }
  .img_katniss_2{
      margin-left: 3vw;
      width: 42vw;
      height: 60vw;
  }
}
@media screen and (max-width: 400px){
  .bg_img {
      height: 250vh;
  }
  .box_name{
      position: absolute;
      height: 60px;
      margin-top: 50px;
      font-size: 42px;
  }
  .box_quote{
      position: absolute;
      height: 85px;
      margin-top: 152px;
      font-size: 28px;
  }
  .box_word{
      position: absolute;
      height: 260px;
      margin-top: 360px;
      font-size: 18px;
      width: 70vw;
  }
  .box_people{
      margin-top: 120vh;
  }
  .box_katniss_2{
      margin-top: 100vw;
  }
}